*{
    margin: 0%;
}
html{
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}
header{
    text-align: center;

    background-color: #2575fc;
    padding: 
    50px;
}
header h1{
        color: aliceblue;
   font-weight: bold;
   font-size:40px 

}
header p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
nav{
    display: inline-block;
    padding-top: 19px;
    background-color: white;
    text-align: center;
    position: sticky;
    height: 50px;
     top: 0;
      z-index: 1000;
     color: #6a11cb;
     box-shadow: 0 2px 10px rgba(0,0,0,0.08);
     font-weight: bold;
     width: 100%;
    
}
nav a{cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: .95s;
    padding: 10px 12px ;
    margin: 15px;
   font-size: 20px;
border-radius: 10px;
color: #6a11cb;

}
nav a:hover{
    background-color: #6a11cb ;
    color: white;
}
.s1{
    margin: 50px auto;
   padding: 30px;
    width: 80%;
    background-color:  #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}
.Picture{
   
    border: 3.5px solid #03070c;
    width: 180px;
    margin-top: 17px;
       box-shadow: 0 0 12px rgba(0,0,0,0.4);
       border-radius: 10px;
}

.s11{font-size: large;}
.s2{
     background: linear-gradient( #e0e7ff, #f3f4ff);
            border-left: 6px solid #2575fc;
            padding: 18px;
            border-radius: 12px;
            margin-bottom: 18px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.01);
}
.s3{
     margin: 50px auto;
   padding: 30px;
    width: 80%;
    background-color:  #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
  font-size: large;
}
footer{
    
text-align: center;
font-size: 25px;
    background-color: #2575fc;
    padding: 50px;
    color: #ffffff;
   
}
footer p {
    font-size: smaller;
}























